body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    min-height: 100vh;
    background: #002252;
    margin: 0;
    padding: 20px;
}

h2{
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.quote-box{
    text-align: center;
    max-width: 500px;
    background: #fff;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

p{
    font-size: 18px;
    margin-bottom: 20px;
}

button{
    background: #eea731;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    background: rgb(251, 119, 25);
}